@use "@/assets/styles/variables/colors" as Colors;
@use "@/assets/styles/variables/dimensions" as Dimensions;
@import "@/assets/styles/variables/responsive";

.container {
  background: linear-gradient(70deg, rgba(195,51,255,1) -20%, rgba(255,255,255,1) 23%, rgba(255,255,255,1) 75%, rgba(0,244,226,1) 125%);
  grid-template-rows: max-content auto max-content;
  overflow: auto;
  .body {
    grid-column: 1/13;
    max-width: Dimensions.$max-width-content;
    align-self: flex-start;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: Dimensions.$desktop-padding-left;
    padding-right: Dimensions.$desktop-padding-right;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    grid-column: 1/13;
    .image {
      grid-column: 1/6;
      object-fit: cover;
      max-width: 100%;
      border-radius: 24px;
      @include screen-mobile {
        display: none;
      }
    }
    .form {
      grid-column: 7/11;
      display: flex;
      flex-direction: column;
      .header {
        display: grid;
        margin-bottom: 8px;
        .title {
          display: flex;
          flex-direction: column;
          gap: 16px;
          @include screen-mobile {
            align-self: center;
          }
        }
        img {
          display: none;
          width: 136px;
          height: 160px;
          border-radius: 16px;
          object-fit: contain;
          @include screen-mobile {
            display: block;
          }
        }
        @include screen-mobile {
          grid-template-columns: auto 136px;
          column-gap: 12px;
          padding-bottom: 24px;
          margin-bottom: 24px;
          border-bottom: 1px solid Colors.$grey-250;
        }
      }
      .dni_select {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 16px;
        > :first-child {
          display: grid;
          grid-template-columns: 40% 60%;
 
        }
      }
      .policies {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        > div {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }
        @include screen-mobile {
          gap: 16px;
        }
      }
      @include screen-mobile {
        grid-column: 1/5;
      }
    }
    @include screen-mobile {
      grid-column: 1/5;
      padding: 0 Dimensions.$mobile-padding-left;
      padding-bottom: 32px;
      margin-top: 0;
    }
  }
  .footer {
    grid-column: 1/13;
    grid-row: 3/3;
    @include screen-mobile {
      grid-column: 1/5;
    }
  }

  @include screen-mobile {
    background: linear-gradient(30deg, rgba(195,51,255,1) -20%, rgba(255,255,255,1) 23%, rgba(255,255,255,1) 80%, rgba(0,244,226,1) 170%);
  }
}
