$grey-50: #03050F;
$grey-100: #5E6488;
$grey-150: #F8F9FF;
$grey-200: #0A051E;

$blue-berry: #4F4FFF;

$neutral-50: #141938;
$neutral-100: #7981B2;

$green: #389E0D;
$green-aqua: #7DF0BA;

$primary-red: #FF1C44;