$grey-50: #03050F;
$grey-100: #5E6488;
$grey-150: #F8F9FF;
$grey-200: #0A051E;
$grey-250: #CCD1EE;
$grey-300: #2B304E;

$blue-berry: #4F4FFF;

$neutral-50: #141938;
$neutral-100: #7981B2;
$neutral-150: #EDEFFC;
$neutral-200: #A9AFD9;
$neutral-250: #D7DBF5;

$green: #389E0D;
$green-aqua: #7DF0BA;
$green-aqua-gradient: linear-gradient(86.01deg, #00F4E2 0%, #00FF7F 100%);

$primary-red: #FF1C44;

$box-shadow: #AEACF359;
$box-shadow-50: #AEACF340;