/* --------------------- BRS Sonoma ---------------------------- */
@font-face {
  font-family: 'BRSonoma Thin';
  src: url("@/assets/fonts/BRS Sonoma/BRSonoma-Thin.otf");
}

@font-face {
  font-family: 'BRSonoma Extra-Light';
  src: url("@/assets/fonts/BRS Sonoma/BRSonoma-ExtraLight.otf");
}
@font-face {
  font-family: 'BRSonoma Light';
  src: url("@/assets/fonts/BRS Sonoma/BRSonoma-Light.otf");
}
@font-face {
  font-family: 'BRSonoma Regular';
  src: url("@/assets/fonts/BRS Sonoma/BRSonoma-Regular.otf");
}
@font-face {
  font-family: 'BRSonoma Medium';
  src: url("@/assets/fonts/BRS Sonoma/BRSonoma-Medium.otf");
}
@font-face {
  font-family: 'BRSonoma Semi-Bold';
  src: url("@/assets/fonts/BRS Sonoma/BRSonoma-SemiBold.otf");
}
@font-face {
  font-family: 'BRSonoma Bold';
  src: url("@/assets/fonts/BRS Sonoma/BRSonoma-Bold.otf");
}
@font-face {
  font-family: 'BRSonoma Black';
  src: url("@/assets/fonts/BRS Sonoma/BRSonoma-Black.otf");
}

/* --------------------- LATO ---------------------------- */

@font-face {
  font-family: 'Lato Thin';
  src: url("@/assets/fonts/Lato/Lato-Thin.ttf");
}
@font-face {
  font-family: 'Lato Light';
  src: url("@/assets/fonts/Lato/Lato-Light.ttf");
}
@font-face {
  font-family: 'Lato Regular';
  src: url("@/assets/fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: 'Lato Bold';
  src: url("@/assets/fonts/Lato/Lato-Bold.ttf");
}
@font-face {
  font-family: 'Lato Black';
  src: url("@/assets/fonts/Lato/Lato-Black.ttf");
}