@font-face {
  font-family: 'BR Sonoma Thin';
  src: url("@/assets/fonts/BRSonoma-Thin.otf");
}

@font-face {
  font-family: 'BR Sonoma Extra-Light';
  src: url("@/assets/fonts/BRSonoma-ExtraLight.otf");
}
@font-face {
  font-family: 'BR Sonoma Light';
  src: url("@/assets/fonts/BRSonoma-Light.otf");
}
@font-face {
  font-family: 'BR Sonoma Regular';
  src: url("@/assets/fonts/BRSonoma-Regular.otf");
}
@font-face {
  font-family: 'BR Sonoma Medium';
  src: url("@/assets/fonts/BRSonoma-Medium.otf");
}
@font-face {
  font-family: 'BR Sonoma Semi-Bold';
  src: url("@/assets/fonts/BRSonoma-SemiBold.otf");
}
@font-face {
  font-family: 'BR Sonoma Bold';
  src: url("@/assets/fonts/BRSonoma-Bold.otf");
}
@font-face {
  font-family: 'BR Sonoma Black';
  src: url("@/assets/fonts/BRSonoma-Black.otf");
}