@import "@/assets/styles/variables/responsive";

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 14px 0;
  .logo {
    object-fit: contain;
  }

  .contact {
    display: flex;
    gap: 16px;
    align-items: center;
    .phone_content {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

@include screen-mobile {
  .container {
    .contact > :first-child {
      display: none;
    }
  }
}