@use "@/assets/styles/variables/paddings" as Paddings;
@import "@/assets/styles/variables/responsive";


.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 14px 0;
  padding-left: Paddings.$desktop-padding-left;
  padding-right: Paddings.$desktop-padding-right;
  .logo {
    object-fit: contain;
  }

  .contact {
    display: flex;
    gap: 16px;
    align-items: center;
    .phone_content {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

@include screen-mobile {
  .container {
    padding-left: Paddings.$mobile-padding-left;
    padding-right: Paddings.$mobile-padding-right;
    .contact > :first-child {
      display: none;
    }
  }
}