@use "@/assets/styles/variables/colors" as Colors;
@use "@/assets/styles/variables/font-sizes" as Sizes;
@import '@/assets/styles/variables/responsive';

.text {
  font-family: 'BR Sonoma Regular';
  margin: 0;
  line-height: 1.4em;
}

/* ------------------ COLORS -------------------------- */
.color-grey-50 { color: Colors.$grey-50; }
.color-grey-100 { color: Colors.$grey-100; }
.color-grey-150 { color: Colors.$grey-150; }
.color-grey-200 { color: Colors.$grey-200; }
.color-blue-berry { color: Colors.$blue-berry; }
.color-neutral-50 { color: Colors.$neutral-50; }
.color-neutral-100 { color: Colors.$neutral-100; }
.color-green { color: Colors.$green }
.color-green-aqua { color: Colors.$green-aqua; }
.color-primary-red { color: Colors.$primary-red; }
.color-white { color: white; }

/* ------------------ FONTS -------------------------- */
.font-BRS-Thin {
  font-family: 'BRSonoma';
  font-weight: 100;
}
.font-BRS-ExtraLight {
  font-family: 'BRSonoma';
  font-weight: 200;
}
.font-BRS-Light {
  font-family: 'BRSonoma';
  font-weight: 300;
}
.font-BRS-Regular {
  font-family: 'BRSonoma';
  font-weight: 400;
}
.font-BRS-Medium {
  font-family: 'BRSonoma';
  font-weight: 500;
}
.font-BRS-SemiBold {
  font-family: 'BRSonoma';
  font-weight: 600;
}
.font-BRS-Bold {
  font-family: 'BRSonoma';
  font-weight: 700;
}
.font-BRS-Black {
  font-family: 'BRSonoma';
  font-weight: 900;
}

.font-Lato-Thin {
  font-family: 'Lato';
  font-weight: 100;
}
.font-Lato-Light {
  font-family: 'Lato';
  font-weight: 300;
}
.font-Lato-Regular {
  font-family: 'Lato';
  font-weight: 500;
}
.font-Lato-Bold {
  font-family: 'Lato';
  font-weight: 700;
}
.font-Lato-Black {
  font-family: 'Lato';
  font-weight: 900;
}

/* ------------------ EXTRAS -------------------------- */
.center { text-align: center; }
.underline { text-decoration: underline; }
.pointer { cursor: pointer; }
.crossed { text-decoration: line-through; }

/* ------------------ FONT SIZES -------------------------- */
.size-very-smallest { font-size: map-get(Sizes.$desktop-sizes, "very-smallest"); }
.size-smallest { font-size: map-get(Sizes.$desktop-sizes, "smallest"); }
.size-small { font-size: map-get(Sizes.$desktop-sizes, "small"); }
.size-regular { font-size: map-get(Sizes.$desktop-sizes, "regular"); }
.size-medium { font-size: map-get(Sizes.$desktop-sizes, "medium"); }
.size-large { font-size: map-get(Sizes.$desktop-sizes, "large"); }
.size-medium-large { font-size: map-get(Sizes.$desktop-sizes, "medium-large"); }
.size-extra-large { font-size: map-get(Sizes.$desktop-sizes, "extra-large"); }
.size-big { font-size: map-get(Sizes.$desktop-sizes, "big"); }


.font-BRS-Thin.size-very-smallest {
  
}
// @mixin letter-space-generate($font, $size) {
//   @if ($font == 'Lato Black') {
//     @if ($size == 14px) {

//     }
//   }
//   .font-Lato-Bold.size-big {
//     letter-spacing: -0.6px;
//   }
// }

@include screen-mobile {
  .size-very-smallest { font-size: map-get(Sizes.$mobile-sizes, "very-smallest"); }
  .size-smallest { font-size: map-get(Sizes.$mobile-sizes, "smallest"); }
  .size-small { font-size: map-get(Sizes.$mobile-sizes, "small"); }
  .size-regular { font-size: map-get(Sizes.$mobile-sizes, "regular"); }
  .size-medium { font-size: map-get(Sizes.$mobile-sizes, "medium"); }
  .size-large { font-size: map-get(Sizes.$mobile-sizes, "large"); }
  .size-medium-large { font-size: map-get(Sizes.$mobile-sizes, "medium-large"); }
  .size-extra-large { font-size: map-get(Sizes.$mobile-sizes, "extra-large"); }
  .size-big { font-size: map-get(Sizes.$mobile-sizes, "big"); }
}