@use "@/assets/styles/variables/colors.scss" as Colors;
@import "@/assets/styles/variables/responsive";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 120px;
  background-color: Colors.$grey-50;
  img {
    object-fit: contain;
  }
}

@include screen-mobile {
  .container {
    padding: 32px 24px;
    flex-direction: column;
    gap: 24px;
    .separator {
      width: 100%;
      height: 1px;
      background-color: Colors.$grey-300;
    }
  }
}