@use "@/assets/styles/variables/colors.scss" as Colors;

.container {
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  path {
    fill: currentColor;
  }
}

.color-transparent { color: transparent; }
.color-grey-50 { color: Colors.$grey-50; }
.color-grey-100 { color: Colors.$grey-100; }
.color-blue-berry { color: Colors.$blue-berry; }
.color-neutral-50 { color: Colors.$neutral-50; }
.color-neutral-100 { color: Colors.$neutral-100; }
.color-neutral-200 { color: Colors.$neutral-200; }
.color-green { color: Colors.$green; }
.color-green-aqua { color: Colors.$green-aqua; }
.color-primary-red { color: Colors.$primary-red; }

.color-white { color: white; }