@use "@/assets/styles/variables/colors" as Colors;
@import "@/assets/styles/variables/responsive";

.container {
  display: flex;
  flex-direction: column;
  border: 3px solid Colors.$grey-50;
  border-radius: 24px;
  padding: 16px 24px;
  .check {
    width: 24px;
    height: 24px;
    border: 1px solid Colors.$neutral-200;
    align-self: flex-end;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    &.checked {
      background-color: Colors.$green;
      border: 1px solid Colors.$green;
      &::after{
        content: "✔";
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
      }
    }
  }
  .plan {
    display: flex;
    flex-direction: column;
    .title {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 8px;
      img {
        width: max-content;
        object-fit: cover;
      }
    }
  }
  
}

@include screen-mobile {
  .container {
    .plan {
      .title {
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
      }
    }
  }
}